:root {
  --body-font-size: 1.125rem;
  --body-font-weight: 400;
  --body-font-spacing: normal;

  /* Theme colors */
  --color-gray-100: #0f051d;
  --color-gray-90: #1b1128;
  --color-gray-80: #332a3f;
  --color-gray-70: #4b4356;
  --color-gray-60: #7b7583;
  --color-gray-50: #9f9ba5;
  --color-gray-40: #b7b4bb;
  --color-gray-30: #cfcdd2;
  --color-gray-20: #e7e6e8;
  --color-gray-10: #f3f2f4;

  /* Theme sizes */
  --sizes-heading-hero-size: 124px;
  --sizes-heading-hero-lh: 1;
  --sizes-heading-hero-lp: 0.04rem;
  --sizes-heading-h1-size: 64px;
  --sizes-heading-h1-lh: 1;
  --sizes-heading-h1-lp: 0.04rem;
  --sizes-heading-h2-size: 56px;
  --sizes-heading-h2-lh: 1.175;
  --sizes-heading-h2-lp: 0.04rem;
  --sizes-heading-h3-size: 32px;
  --sizes-heading-h3-lh: 1.15;
  --sizes-heading-h3-lp: 0.04rem;
  --sizes-heading-h4-size: 28px;
  --sizes-heading-h4-lh: 1.125;
  --sizes-heading-h4-lp: 0.04rem;
  --sizes-heading-h5-size: 22px;
  --sizes-heading-h5-lh: 1.5;
  --sizes-heading-h5-lp: 0.02rem;
  --sizes-heading-h6-size: 18px;
  --sizes-heading-h6-lh: 1.5;
  --sizes-heading-h6-lp: 0.01rem;

  /* Theme gradients */
  --gradient-first: #2600fc;
  --gradient-second: #ff00ea;
  --gradient-angle: 25deg;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--color-gray-100, #000);
  color: var(--color-gray-10);
  font-size: var(--body-font-size, 16px);
  font-weight: var(--body-font-weight, 400);
  letter-spacing: var(--body-font-spacing, normal);
  line-height: 1.5;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body,
a,
button,
input,
textarea {
  font-family: var(
    --font-mabry-pro,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
}

h1,
h2,
h3 {
  font-family: var(--font-space-grotesk);
  font-weight: 700;
}

h4 {
  font-family: var(--font-mabry-pro);
  font-weight: 700;
}

h5,
h6 {
  font-family: var(--font-mabry-pro);
  font-weight: 400;
}

h1 {
  font-size: var(--sizes-heading-h1-size);
  line-height: var(--sizes-heading-h1-lh);
  letter-spacing: var(--sizes-heading-h1-lp);
}

h2 {
  font-size: var(--sizes-heading-h2-size);
  line-height: var(--sizes-heading-h2-lh);
  letter-spacing: var(--sizes-heading-h2-lp);
}

h3 {
  font-size: var(--sizes-heading-h3-size);
  line-height: var(--sizes-heading-h3-lh);
  letter-spacing: var(--sizes-heading-h3-lp);
}

h4 {
  font-size: var(--sizes-heading-h4-size);
  line-height: var(--sizes-heading-h4-lh);
  letter-spacing: var(--sizes-heading-h4-lp);
}

h5 {
  font-size: var(--sizes-heading-h5-size);
  line-height: var(--sizes-heading-h5-lh);
  letter-spacing: var(--sizes-heading-h5-lp);
}

h6 {
  font-size: var(--sizes-heading-h6-size);
  line-height: var(--sizes-heading-h6-lh);
  letter-spacing: var(--sizes-heading-h6-lp);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px;
}

a,
button {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.bg-attributes {
  mix-blend-mode: soft-light;
}

.bg-circle {
  filter: blur(80px);
  position: fixed;
}

.bg-circle-top {
  left: -4%;
  top: -4%;
}

.bg-circle-bottom {
  right: -4%;
  bottom: -4%;
}

.button {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--color-gray-10);
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  line-height: 1;
  border-radius: 56px;
  padding: 18px 24px;
  transition: 0.2s ease;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 0;
  box-shadow: inset 0 0 0 2px transparent;
  transition: 0.2s ease;
}

.button-outline {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.55);
}

.button-outline::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 0;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.55);
  transition: 0.2s ease;
}

.button-accent::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  inset: 0;
  z-index: -1;
  transition: 0.2s ease;
  background-color: var(--gradient-first);
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--gradient-first),
    var(--gradient-second)
  );
}

.text-accent {
  background-color: var(--gradient-first);
  background-image: linear-gradient(
    var(--gradient-angle),
    var(--gradient-first),
    var(--gradient-second)
  );
  background-clip: text;
  color: transparent;
}
