.main {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
}

.title,
.offer {
  text-align: center;
}

.heroHook {
  margin-top: 48px;
  text-align: center;
}

.unauthorizedNav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 56px;
  padding: 24px 15px 0;
}
