.profile {
  background-color: var(--color-gray-100, #000);
  width: 400px;
}

.logo {
  font-family: var(--font-space-grotesk);
  font-weight: 700;
}

.levelStatsSection {
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.26);
  margin-bottom: 24px;
  padding: 15px;
  position: relative;
  transition: box-shadow 0.1s ease-in-out;
}

.nickName {
  margin-bottom: 12px;
}

.levelContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.level {
  margin-bottom: 4px;
}

.levelProgress {
  height: 8px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-gray-10);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.addedExperience {
  padding-right: 16px;
  font-size: 16px;
}

.profileSourceContainer {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: -10000;
}

.NFTActionsContainer {
  width: 100%;
  max-width: 360px;
  margin: 48px auto 0;
}

.mintNFTBtn {
  width: 100%;
}

.previewNFTBtn {
  all: unset;
  border-bottom: 1px solid var(--color-gray-50);
}

.mintNFTBtn,
.previewNFTBtn {
  margin-bottom: 15px;
}

.skillsSection {
  min-height: 220px;
  padding: 15px;
  position: relative;
}

.skillsSummaryContainer,
.skillsTitle {
  position: relative;
  z-index: 1;
}

.skillsSummaryContainer {
  margin: 0 auto;
}

.skillRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--sizes-heading-h5-size);
}

.skillRow:not(:last-of-type) {
  margin-bottom: 12px;
}

.skillMeasure {
  font-size: 1rem;
}
