.spinnerSM {
  width: 20px;
  height: 20px;
  border-top-color: var(--color-gray-10);
  border-left-color: var(--color-gray-10);
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spinner-sm 700ms linear infinite;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.spinnerLG {
  width: 128px;
  height: 128px;
  border-top-color: var(--color-gray-10);
  border-left-color: var(--color-gray-10);
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spinner-sm 700ms linear infinite;
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spinner-sm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
