.loginPage {
  position: relative;
}

.main {
  margin-top: 80px;
}

.loginForm {
  padding: 0 15px;
}

.inputBlock {
  margin-bottom: 24px;
}

.actions {
  margin: 48px 0 24px;
}

.actions button {
  width: 100%;
}

/* Header */
.header {
  padding: 15px;
  margin-bottom: 32px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-space-grotesk);
  font-size: var(--sizes-heading-h3-size);
  font-weight: 700;
}

/* Footer */
.actionsFooter {
  padding: 0 15px 40px;
  text-align: center;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}
