.authorizedLayout {
  display: grid;
  grid-template-rows: 80px calc(100vh - 80px - 30px);
  row-gap: 30px;
}

.header {
  padding: 15px;
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-space-grotesk);
  font-size: var(--sizes-heading-h3-size);
  font-weight: 700;
}
