.authorizedLayout {
  display: grid;
  grid-template-rows: 80px calc(100% - 80px - 30px);
  grid-template-columns: 100%;
  /* Mobile browsers have native elements: search bar, bottom panel. 
   * 90vh is an empirical value to fit into a single screen without scrolling
   */
  height: calc(90vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  row-gap: 30px;
}

.header {
  padding: 15px;
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-space-grotesk);
  font-size: var(--sizes-heading-h3-size);
  font-weight: 700;
}
