.header {
  padding: 15px;
  position: relative;
  margin-bottom: 32px;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-space-grotesk);
  font-size: var(--sizes-heading-h3-size);
  font-weight: 700;
}
